html, body
{
    height: 100%;
    margin: 0px;
}
.wrapper{
	/*background-color: #d4cdb0;*/
	width: 100%;
	//height: 100%;

	/*display: grid;*/
	grid-template-rows: repeat(2, 1fr) auto;
	grid-template-columns: 1fr;
}

.melmac-logo{
  width: 100%;
}

.home-card{
  width: 100%;
  border-radius: 120px;
  background-color: #362244;
  color: #ffffff;
}

.home-button{
	grid-row: 1;
	text-align: center;
}

.container{
  margin-top: 1%;
  margin-bottom: 1%;
}

.input-group-prepend{
  margin-right: 2%;
}

.nav-bar{
	background-color: #fff;
    color: #fff;
    font-size: 150%;
	grid-row: 2;
	grid-gap: 1px;


	  display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-bar-button{
	font-family: monospace;
	background-color: #000;
    padding: 20px;
    text-align: center;
}

.devices-grid{
	background-color: #394;
	grid-row: 7 / 3;
	weight:100;

	display: grid;
	grid-template-columns:repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-auto-rows: 100px;
}

.device{
	text-align: center;
}

/*new additions*/

.nav>li>a {
    margin-top: 7%;
    padding-top: 5%;
}

/*el hoover de los tabs*/
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
	background-color: #33b7b7
}

/*no afecta nada (creo)*/
.nav-bar {
	padding-left: 15%
}

.btn-group{
  margin-bottom:10px;
}

.btn{
  border-color: #ffffff;
  border-width: 1px;
}

.roombutton{
  min-width: 260px;
}

.buttons, .routinelist{
  width: 70%;
  margin: 50px auto;
}

.card, .clickeable{
  cursor: pointer;
}

.melmac-list{
  list-style: none;
}

.room-list{
  margin: 50px auto;
}

.unclickable{
  cursor: default;
}

.back-icon{
  width: 50px;
  height: 50px;
}

.device-option-icon{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.device-option-icon{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.screen-label{
  height: 50px;
  cursor: default;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.screen-label-text-primary{
  font-family: sans-serif;
  text-align: left;
  font-size: 130%;
  margin-top: 10px;
}

.screen-label-text-secondary{
  font-family: sans-serif;
  text-align: left;
  font-size: 100%;
  margin-top: 15px;
  margin-right: 10px;
  color: #888888;
}

.room-label{
  height: 50px;
  width: 100%;
  margin: 2px 0px;
  padding: 0;
  border-radius: 10px;
}

.room-label-switch{
  margin: 0px 2px;
}

.switch-separator{
  background-color: #FFFFFF;
  height: 100%;
  width: 2px;
  margin: 0;
}

.screen-title{
  text-align: center;
  margin-top: 10px;
}

.device-label{
  height: 50px;
  border-radius: 10px;
  display: inline-block;
  border: none;
}

.device-label-text{
  font-family: sans-serif;
  text-align: left;
  font-size: 130%;
  margin-top: 4px;
}

.add-device-label-text{
  font-family: sans-serif;
  text-align: center;
  font-size: 130%;
  margin-top: 4px;
}

.temperature-box{
  width: 6%;
}

.dropdown-in-label{
  margin: 6px auto;
  margin-right: 10px;
  width: 25%;
}

.color-palette{
  border-width: 0px;
  background-color: inherit;
  width: 50px;
  height: 40px;
  margin-top: 10%;
  margin-right: 10px;
}

.bigtext{
  font-family: sans-serif;
  font-size: 500%;
}

.routine-step-label-text{
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 130%;
  margin-top: 15px;
}

.routine-step-number-box{
  width: 50px;
}

.routine-step-name-box{
  width: 90%;
}

.routine-step-trash-box{
  margin: 10px;
}

/*  ===== SWITCH =====  */
/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
 margin: 8px 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.switch-slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #9A9A9A;
 -webkit-transition: .4s;
 transition: .4s;
}

.switch-slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .switch-slider {
 background-color: #2196F3;
}

input:focus + .switch-slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.switch-slider.round {
 border-radius: 34px;
}

.switch-slider.round:before {
 border-radius: 50%;
}


/*  ===== SLIDER =====  */
.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-top: 17px;
    margin-left: -12px; /* add margin to the right */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #9A9A9A;
    outline: none;
    opacity: 0.95;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: #9A9A9A;
    background: #ffffff;
    cursor: pointer;
}

/* Mozilla */
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-width: 2px;
    border-color: #9A9A9A;
    background: #ffffff;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;


}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
